{% extends 'base.html.twig' %}

{% block title %}Hello ClienteController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Crear/Editar Cliente
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    <div class="mb-3">
                        {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.apellidos, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.telefono, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.direccion, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
